<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ion Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Grid Possui 2 colunas</h3>
  <ion-grid>
    <ion-row>
      <ion-col> 1</ion-col>
      <ion-col> 2</ion-col>
      <ion-col> 3</ion-col>
      <ion-col> 4</ion-col>
      <ion-col> 5</ion-col>
      <ion-col> 6</ion-col>
      <ion-col> 7</ion-col>
      <ion-col> 8</ion-col>
      <ion-col> 9</ion-col>
      <ion-col> 10</ion-col>
      <ion-col> 11</ion-col>
      <ion-col> 12</ion-col>
    </ion-row>
  </ion-grid>

  <h3>Variando o tamanho da coluna</h3>
  <ion-grid>
    <ion-row>
      <ion-col> 1</ion-col>
      <ion-col> 2</ion-col>

    </ion-row>
    <ion-row>
      <ion-col> 1</ion-col>
      <ion-col> 2</ion-col>
      <ion-col> 3</ion-col>
      <ion-col> 4</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="3"> Coluna 1</ion-col>
      <ion-col size="3" offset="3"> Coluna 2</ion-col>
      <ion-col size="3">Coluna 3</ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid text-center>
    <ion-row>
      <ion-col class="ion-align-self-start">
        <div>
          1 of 4 (start)
        </div>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <div>
          2 of 4 (center)
        </div>
      </ion-col>
      <ion-col class="ion-align-self-end">
        <div>
          3 of 4 (end)
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4
          <br>#
          <br>#
          <br>#
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>