<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="block" color="secondary" (click)="alert()" >Alert</ion-button>
    <ion-button expand="block" color="secondary" (click)="multiple()" >Multiple Alert</ion-button>
    <ion-button expand="block" color="secondary" (click)="confirme()" >Confirme</ion-button>
    <ion-button expand="block" color="secondary" (click)="prompt()" >Prompt</ion-button>
</ion-content>
